<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link href="styles/amazeui.min.css" rel="stylesheet">
  </head>
  <body style="width: 300px;height: 500px;overflow: scroll;">
    <div id="app" class="am-container am-padding-horizontal-0">
      <div v-show="page == 'scan' || page == 'confirm'" class="am-u-sm-centered">
        <h1 class="am-text-xxxl am-text-center am-margin-vertical">微信机器人</h1>
        <div v-el:qr class="am-u-sm-centered am-margin-vertical"></div>
      </div>
      <div v-show="page == 'confirm'" class="am-u-sm-centered">
        <p class="am-text-lg am-text-center am-margin-vertical">请在手机上确认登录</p>
      </div>
      <div v-show="page == 'restart'" class="am-u-sm-centered">
        <p class="am-text-lg am-text-center am-margin-vertical am-text-bottom">出错啦,马上重新登录...</p>
      </div>
      <div v-show="page == 'list'" class="am-u-sm-centered">
        <div data-am-sticky>
          <button @click.prevent="logout()" class="am-btn am-radius am-btn-block am-btn-danger am-btn-sm">退出</button>
          <input type="text" v-model="filterName" class="am-form-field am-radius am-input-sm" placeholder="搜索联系人">
        </div>
        <ul class="am-list" v-el:list>
          <li v-for="member in members | filterBy filterName in 'nickname'" class="am-g">
            <div class="am-u-sm-7">
              <div v-text="member.nickname" class="am-text-truncate" style="width: 150px;"></div>
            </div>
            <div class="am-u-sm-5">
              <select uid="{{member.username}}" multiple>
                <option value="reply" selected="{{member.reply}}">回复</option>
                <option value="supervise" selected="{{member.supervise}}">监督</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts.build/popup.js"></script>
    <script src="scripts/amazeui.min.js"></script>
  </body>
</html>
